<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>


    <!-- <h1>Home hello noooooor</h1>
    <p>Hello <%=name %></p>
    <hr><hr> -->

    <main>
        <form method="post" action="/contact">   <!--by default the form submit method is get we have to change it to post action is form submit hone par kkis end point pr hit krna hai -->
            <h1>Contact Now</h1>
            <input type="text" name="name" placeholder="Name"/>
            <input type="email" name="email" placeholder="Email"/>
            <button type="submit" >Send Message</button>
        </form>
    </main>


     <!-- this file is deleted -->
</body>
</html>